@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02 B");

    var cid = Request.QueryString["cid"];

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise02_A.cshtml?");
    }

    var db = Database.Open("CHINOOK");

    string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name like @0 ORDER BY Name";
    var partialstring = "%" + cid + "%";
    var results = db.Query(sqlcommand1, partialstring);

    if (results.Count() == 0)
    {
        <p style="color:firebrick">There was no record returned from the Data Base</p>
        Response.Redirect("Exercise02_A.cshtml");
    }
    else
    {
        <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
    }
}

@section banner {
    <h1>@Page.Title</h1>
}

@*<p>IsPost = @IsPost</p>*@

@if (IsPost)
{   
    var choice = Request.Form["dropdownlist"];

    if (choice.Equals("0"))
    {
        <p style="color:firebrick">Please select an artist</p>
    }
    else
    {
        var artistQuery = @"SELECT AlbumId FROM Albums WHERE ArtistId = @0";
        var artistInfo = db.Query(artistQuery, choice);

        if (artistInfo.Count() == 0)
        {
            <p style="color:darkturquoise">There are no products for the selected category.</p>
        }
        else
        {
            Response.Redirect("Exercise02_C.cshtml?cid=" + choice);
        }
    }

}
<form id="theform" method="post">
    <div class="row">
        <div class="col-12">
            <div class="offset-1">
                <label id="lblartistsList">Select artist from the list:</label><br />
                <select id="dropdownlist" name="dropdownlist">
                    <option value="0">select ...</option>
                    @foreach (var artist in results)
                    {
                        <option value="@artist.ArtistId">@artist.Name</option>
                    }
                </select>
                <button type="submit" id="theButton" name="theButton" value="submit" class="btn btn-primary">Fetch</button>
            </div>
        </div>
    </div>
</form>


