@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04 B");

    var cid = Request.QueryString["cid"];
    var selection = Request.QueryString["option"];
    var thebutton = Request.Form["theButton"];
    var choice = Request.Form["dropdownlist"];

    if(string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise04_A.cshtml?");
    }

    <h3>@selection album</h3>

    var db = Database.Open("CHINOOK");

    string albumQuery = "SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel FROM Albums WHERE AlbumId = @0";

    string findSortQuery = "SELECT AlbumId, Title FROM Albums WHERE Title like @0 ORDER BY Title";

    var partialstring = "%" + cid + "%";
    var results = db.Query(findSortQuery, partialstring);

    if(results.Count() == 0)
    {
        <p style="color:firebrick">There was no record returned from the Data Base @cid</p>
        Response.Redirect("Exercise04_A.cshtml");
    }
    else
    {
        <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
    }
}

@section banner {
    <h1>@Page.Title</h1>
}

@if(IsPost)
{
    choice = Request.Form["dropdownlist"];
    thebutton = Request.Form["theButton"];

    if(choice.Equals("0"))
    {
        <p style="color:firebrick">Please select an album</p>
    }
    else
    {
        var albumInfo = db.Query(albumQuery, choice);

        if(albumInfo.Count() == 0)
        {
            <p style="color:darkturquoise">There is no information for this album.</p>
        }
        else
        {
            if(selection == "update")
            {
                Response.Redirect("Exercise04_C.cshtml?cid=" + choice);
            }
            else if (selection == "delete")
            {
                Response.Redirect("Exercise04_D.cshtml?cid=" + choice);
            }

        }
    }

}
<form id="theform" method="post">
    <div class="row">
        <div class="col-12">
            <div class="offset-1">
                <label id="lblartistsList">Select album from the list:</label><br />
                <select id="dropdownlist" name="dropdownlist">
                    <option value="0">select ...</option>
                    @foreach(var album in results)
                    {
                        <option value="@album.AlbumId">@album.Title</option>
                    }
                </select>
                @if(selection == "update")
                {
                    <button type="submit" id="theButton" name="theButton" value="submit" class="btn btn-primary">Fetch</button>
                }
                else
                {
                    <button type="submit" id="theButton" name="theButton" value="delete" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
</form>


