@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04");
    var thebutton = Request.Form["theButton"];

    var title = "";
    var artistId = "0";
    var releaseYear = "";
    var releaseLabel = "";

    var cid = Request.QueryString["cid"];

    string artistQuery = "SELECT ArtistId, Name FROM Artists ORDER BY Name";

    string albumQuery = "SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel FROM Albums WHERE AlbumId = @0";
    string updateQuery = "UPDATE Albums Set Title = @0, ArtistId = @1, ReleaseYear = @2, ReleaseLabel = @3 WHERE AlbumId = @4";

    var db = Database.Open("CHINOOK");

    var artistSelect = db.Query(artistQuery);
    var albumInfo = db.Query(albumQuery, cid);

    foreach(var info in albumInfo)
    {
        title = info.Title;
        artistId = info.ArtistId.ToString();
        releaseYear = info.ReleaseYear.ToString();
        releaseLabel = info.ReleaseLabel.ToString();
    }

    List<SelectListItem> artistList = new List<SelectListItem>();
    artistList.Add(new SelectListItem
    {
        Value = "0",
        Text = "select..."
    });

    foreach(var artist in artistSelect)
    {
        artistList.Add(new SelectListItem
        {
            Value = artist.ArtistId.ToString(),
            Text = artist.Name
        });
    }


    Validation.Add("Title",
Validator.Required("Title is required"),
Validator.StringLength(160, 0, "Title name is limited to 160 characters"));

    Validation.Add("ArtistList",
        Validator.Range(1, artistList.Count, "Artist is required"));

    Validation.Add("ReleaseYear",
        Validator.Required("Release Year is required"),
        Validator.Integer("Year is out of range"),
        Validator.Range(1950, DateTime.Today.Year, "Year is out of range, 1950 to today"));

    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 0, "Label is limited to 50 characters"));

}

@section banner {
    <h1>@Page.Title</h1>
}


@if(IsPost)
{
    title = Request.Form["Title"];
    artistId = Request.Form["ArtistList"];
    releaseYear = Request.Form["ReleaseYear"];
    releaseLabel = Request.Form["ReleaseLabel"];
    var theButton = Request.Form["thebutton"];

    if(thebutton.Equals("reset"))
    {
        foreach(var info in albumInfo)
        {
            title = info.Title;
            artistId = info.ArtistId.ToString();
            releaseYear = info.ReleaseYear.ToString();
            releaseLabel = info.ReleaseLabel.ToString();
        }
    }
    else if(thebutton.Equals("cancel"))
    {
        Response.Redirect("Exercise04_A.cshtml");
    }
    else
    {
        if(Validation.IsValid())
        {
            try
            {

                db.Execute(updateQuery, title,
                    artistId.Equals("0") ? null : artistId,
                    string.IsNullOrEmpty(releaseYear) ? null : releaseYear,
                    string.IsNullOrEmpty(releaseLabel) ? null : releaseLabel, cid);
                <p style="color:darkgreen">Album has been updated!</p>
            }
            catch(Exception ex)
            {
                <div class="col-12 text-center">
                    <p style="color:firebrick; font-size:large">
                        Processing error: @ex.Message
                    </p>
                </div>
            }
        }
    }
}
else
{

}

<fieldset>
    <legend>Update Album</legend>
    @Html.ValidationSummary()
    <form id="theform" method="post">
        <div class="row offset-1">
            <label class="label" for="Title">Title:</label>&nbsp;&nbsp;
            <span>@Html.TextBox("Title", title)</span>
        </div>

        <div class="row offset-1">
            <label class="label" for="ArtistList">Artist:</label>&nbsp;&nbsp;
            <span>@Html.DropDownList("ArtistList", artistList)</span>
        </div>

        <div class="row offset-1">
            <label class="label" for="ReleaseYear">Year:</label>&nbsp;&nbsp;
            <span>@Html.TextBox("ReleaseYear", releaseYear)</span>
        </div>

        <div class="row offset-1">
            <label class="label" for="ReleaseLabel">Label:</label>&nbsp;&nbsp;
            <span>@Html.TextBox("ReleaseLabel", releaseLabel)</span>
        </div>

        <div class="row offset-1">
            <div class="col-6">
                <button type="submit" id="theButton" name="theButton" value="reset" class="btn btn-primary">Reset</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton" value="update" class="btn btn-light">Update</button>
                <button type="submit" id="theButton" name="theButton" value="cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</fieldset>